body  {
    background-color:rgb(215, 235, 241);
 }
 nav   {
    margin-top:0;
    padding-bottom:0;
    font-size: 150%;

 }
 h1    {
    text-align: center;
    font-size: 300% ;

 }
 .one  {
    border: 5px solid red;
    width: 10%;
    padding: 0px;
    margin:0px;
    text-align: center;

 }
 .two  {
    border: 5px solid blue;
    width: 50%;
    text-align: center;

 }
 .three   {
    bor der: 5px solid green;
    width: 50%;
    text-align: center;
 }
 footer   {

 }
