.font   {
    font-style: italic;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.short-font{
    font: italic bold 30px Georgia, serif;
}

.border{
    display: flex;
    width: 100%;
    height: 500px;
    flex: 3 0 auto;
    margin: auto;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.border1{
    width: 300px;
    height: 100px;
    background-color: black;
}
.border2{
    width: 300px;
    height: 100px;
    background-color: blue;
}
.border3{
    width: 300px;
    height: 100px;
    background-color: green;
}
.border4{
    width: 300px;
    height: 100px;
    background-color: yellow;
}

h1{
    font-weight: 600;
}
a{
    
}
button{
    padding: 16px 8px;
}