
:root {
    box-sizing: border-box;
  }
  body{
    font-family: "Roboto";
    background-color:aliceblue;
  }
.Navbar{
  background-color: black;
  margin: -10px -8px 0 -8px;
  font-family: 'Monoton', monospace;
  

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 1%;
}
.Logo{
  color: red;
  font-size: 28px;
}
span{
  color: #fff;
}

nav ul li{
  list-style-type: none;
  display:inline-block;
  padding: 10px 20px ;
  font-size: 20px;

}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover{
  color: red;
  transition: .3s;
}


.app {
  height: 100vh;
  text-align: center;
}

#app h1{
  text-align: center;

}

.form-countainer{
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  
}
.font-countainer p{
  font-size:  30px;
}

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border: none;
  width: 400px;
  height: 300px;
  text-align: center;
  border: none;
  color:black;
  
}
.games {
  display: flex;
  justify-content: center;
  align-items: center;

}

.option {
  width: 30%;
  margin: 10px 15px;
  padding: 25px;
  text-align: center;
  font-size: 40px;
  background-color: bisque;
  
}

.option:hover {
  cursor: pointer;
  background-color: burlywood;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
  transform: scale(105%);
  -webkit-transform: scale(105%);
  -moz-transform: scale(105%);
  -ms-transform: scale(105%);
  -o-transform: scale(105%);
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
  -moz-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
  -ms-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
  -o-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
}