@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
  background-color:black;

  font-family: "Roboto";
}
.Navbar{
  background-color: black;
  margin: -10px -8px 0 -8px;
  font-family: 'Monoton', monospace;

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 1%;
}
.Logo{
  color: red;
  font-size: 28px;
}
span{
  color: #fff;
}

nav ul li{
  list-style-type: none;
  display:inline-block;
  padding: 10px 20px ;
  font-size: 20px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover{
  color: red;
  transition: .3s;
}
header {
  margin: 0 auto;
  width: 431px;
}
h1 {
  margin: 0;
  padding-top: 10px;
}
.topnav{
  background: #5EE270;
  margin-top: 15px;
  margin-left:545px ;
  margin-right:545px ;
}
.score-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}